@using WebAPP_LIULI.Models;
@{
    Customer m = Model;
    if (m == null)
    {
        m = new Customer();
    }

}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">

        <h4 class="page-title">顾客详情</h4>
    </div>
</div>
<!-- end page title end breadcrumb -->


<div class="row">

    <div class="col-xl-3 col-md-6">
        <div class="card-box">
            <form class="form-horizontal" role="form" action="/Home/CustomerDetail" method="post">
                <input hidden="hidden" type="text" name="Id" value="@m.Id">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">顾客名称</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="CustomerName" value="@m.CustomerName">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">公司识别号</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="CustomerCompanyNumber" value="@m.CustomerCompanyNumber">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">公司地址</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="CustomerAddress" value="@m.CustomerAddress">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">公司电话</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="CustomerPhone" value="@m.CustomerName">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">联系人</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="Contact" value="@m.Contact">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">联系电话</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="ContactPhone" value="@m.ContactPhone">
                    </div>
                </div>

                <button type="submit" class="btn btn-block btn-xs btn-purple waves-effect waves-light">保存</button>
            </form>
        </div>
    </div><!-- end col -->

</div>
<!-- end row -->